/* Will be compiled down to a single stylesheet with your sass files */

.move {
    padding-top: 20px;
}

h4 {
    margin: 0px 0 9px 0px;
}

h3 {
    margin-top: -10px;
}

div.progress.progress-striped.active {
    margin-left: 20px;
    margin-right: 20px;
}

#drop, #download {

    width: 80%;
    margin: 0 auto;
}

#drop > p {
    font-size: 1.2em;
    font-weight: 200;
    color: #777;
    text-shadow: 0 1px 0 #fff;
    line-height: 23px;
}

.border-drop > span, #download > span {
    margin: 10px auto 15px auto;
    text-align: center;
    display: block;
    font-size: 1.8em;
    text-transform: uppercase;
    font-family: utopia;
    text-shadow: 1px 0px 0px rgba(76, 71, 68, .7);
}

.border-drop > .btn > input {
    opacity: 0;
}

.border-drop > .btn {
    width: 55%;
    height: 20px;
    margin: 0 auto 15px auto;
    display: block;
}

.border-drop input[type="file"] {
    height: 30px;
    margin-top: -40px;
    margin-left: -10px;
    width: 100%;
}

.border-drop {
    border: dashed 2px #808080;
}

.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
    background-image: -o-linear-gradient(top, #fff, #f2f2f2);
    background-image: linear-gradient(to bottom, #fff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065);
}

table tr:nth-child(1) > td:first-child, table tr:nth-child(3) > td:first-child {
    cursor: pointer;
}

h3 .icon-warning-sign {
    color: red;

}

.highlight {
    background-color: #ffff00;

}