<div class="container-fluid">
    <div id="myModal" class="modal show fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3><i class="icon-warning-sign"></i> Error With Browser</h3>
        </div>
        <div class="modal-body">
            <p>Your browser does not support required HTML5 components</p>
            <p>Download Chrome or Firefox to use this web app</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn">Close</a>
        </div>
    </div>
</div>