<div class="container-fluid">
    <div class="row-fluid move">
        <div class="span12">
            <!--Body content-->
            <div class="alert alert-error" ng-show="error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error</strong> {{message}}.
            </div>
            <div id="slideView" class="carousel slide">
                <div class="carousel-inner">
                    <div class="well item active" id="drop">
                        <p>This utility will create script files for the following tables based on the name of the
                            files. For additional information on each file click on the folder icon.</p>
                        <hr>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th colspan="2">Action</th>
                                
                                <th>File Name</th>
                                <th>Table Name</th>
                                <th>Script Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-click="openTableRow.func(1)"><i ng-class="openTableRow.sFolder"></i></td>
                                <td ng-click="headerExist.func(1)"><span data-toggle="tooltip" title="header exist in file"><i ng-class="headerExist.sCheckBox"></i></span></td>
                                <td>settings.csv</td>
                                <td>Settings</td>
                                <td>select name,value from Settings order by 1</td>
                            </tr>
                            <tr ng-show="openTableRow.settingsOpen">
                                <td colspan="4">
                                    <div class="well">
                                        <p>This script will produce a csv file that contains
                                            all of your DNAweb settings.</p>
                                        <!--<blockquote><p>example</p></blockquote>-->
                                        <!--<p><span class="highlight">name,value</span> <br>-->
                                            <!--AccessAgreementBusinessLink,AccessBus.htm-->
                                            <!--AccessAgreementPersonalLink,Access.htm-->
                                            <!--AccountDisplayGroups,Savings|Share|Savings|Certificate|Loan-->
                                            <!--AccountDisplayGroupsText,Savings Accounts|Checking Accounts|Money Market Accounts|Certificate of Deposit Accounts|Loan Accounts-->
                                            <!--AccountPrefix,FALSE-->
                                        <!--</p>-->

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td ng-click="openTableRow.func(2)"><i ng-class="openTableRow.oFolder"></i></td>
                                <td ng-click="headerExist.func(2)"><i ng-class="headerExist.oCheckBox"></i></td>
                                <td>onlineform.csv</td>
                                <td>OnlineFormsCustom</td>
                                <td>select ID,availableretail,availablebusiness from onlineformscustom</td>
                            </tr>
                            <tr ng-show="openTableRow.onlineformsOpen">
                                <td colspan="4">
                                    <div class="well">
                                        <p>This script will produce a csv file that contains
                                            all of your onlineforms settings.</p>
                                        <!--<blockquote><p>example</p></blockquote>-->
                                        <!--<p><span class="highlight">id,retail,business</span> <br>-->
                                            <!--1,N,N <br>-->
                                            <!--2,N,N <br>-->
                                            <!--3,N,N <br>-->
                                            <!--4,Y,N <br>-->
                                        <!--</p>-->
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="border-drop">
                            <span><i class="icon-upload-alt"></i> Drop File Here or </span>

                            <div class="btn">
                                <div>Upload CSV File</div>
                                <input type="file" accept="csv"/>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="bar" style="width:{{progress}}%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="well" id="download">
                            <strong><h3><i class="icon-ok"></i> Completed</h3></strong>

                            <p>Click the download file button to retrieve the {{file}} file.</p>

                            <p>Open the file in SQL Studio Manager and execute all scripts.</p>

                            <p>Any issues contact your Implementation Analyst</p>
                            <a class="btn btn-inverse" ng-click="back()"><i
                                    class="icon-file"></i> Import New File</a>
                            <a class="btn btn-inverse" download="{{txt}}" href="{{ref}}"><i
                                    class="icon-download-alt"></i> Download File</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
